<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read_result</title>
</head>
<body>
    <table>
        <tr>
            <td><label>이미지</label></td>
            <td><img src = "<%= image %>" alt="이미지" width="300px">  </td>
            <td><%= image %></td>
            <td><img src = "picture-1662365057787.jpg" alt="이미지" width="300px">  </td>
        </tr>       
    </table>
</body>
</html>