<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>read_result</title>
</head>
<body>

    <label>이미지</label></td>
    <img src = "<%= image %>" alt="이미지" width="300px">  </td>
    
</body>
</html>