<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wirte</title>
</head>
<body>
    <form action = "/wirte" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label>아이디</label></td>
                <td><input name="id" type="text"></td>
            </tr>
            <tr>
                <td><label>이미지</label></td>
                <td><input name="image" type="file"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="글쓰기">
                </td>
            </tr>            
        </table>
    </form>
</body>
</html>